header {
  margin-bottom: 35px;
}

.old-timey {
  font-family: 'old-timey';
}

.subtitle {
  margin-left: 20px;
  font-size: 20px;
}

.container {
  margin-bottom: 20px;
}

div {
  font-size: 18px;
}

.old-timey-i {
  font-family: 'old-timey-i';
  display: inline;
  font-size: 60px;
  margin-left: 50px;
}

body {
  background-image: url(./images/parchment.jpeg);
}

.compass {
  width: 100px;
  animation:  rotate 30s linear infinite;
  display: inline;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.locate {
  margin-top: 10px;
  margin-right: 0;
  font-size: 25px;
  display: inline-block;
}

@font-face {
  font-family: digital-clock-font;
  src: url('./fonts/Technology.ttf');
}
@font-face {
  font-family: old-timey;
  src: url('./fonts/berylium\ rg.ttf');
}
@font-face {
  font-family: old-timey-i;
  src: url('./fonts/berylium\ rg\ it.ttf');
}

.btn {
  background-color: rgb(207, 130, 58);
  background-blend-mode: color-burn;
  /* background-image: linear-gradient(rgb(207, 130, 58) rgb(189, 130, 75)); */
}

.btn :hover {
  background-color: red;
}

.time {
  float: right;
  color: rgb(43, 216, 20);
  background-color: black;
  font-family: 'digital-clock-font';
  font-size: 30px;
  border-style: outset;
  border-width: 7px;
  border-radius: 10px;
  border-color: grey;
  width: 90px;
  text-align: center;

  
}

.country path {
  fill: #00394f;
  stroke: #eee;
  stroke-width: .25;
}

.small-country {
  fill: #00394f;
  stroke: #eee;
  stroke-width: .25;
}

.small-country:hover {
  fill: #006284;
  cursor: pointer;
}


.country path:hover {
  fill: #006284;
  cursor: pointer;
}

.country .incorrect {
  fill: rgb(185, 7, 7);
  stroke: #eee;
  stroke-width: .25;
}
.country .incorrect:hover {
  fill: rgb(185, 7, 7);
  cursor: pointer;
}
.country .correct {
  fill: rgb(5, 130, 5);
  stroke: #eee;
  stroke-width: .25;
}
.country .correct:hover {
  fill: rgb(5, 130, 5);
  cursor: pointer;
}
.small-country .incorrect {
  fill: rgb(185, 7, 7);
  stroke: #eee;
  stroke-width: .25;
}
.small-country .incorrect:hover {
  fill: rgb(185, 7, 7);
  cursor: pointer;
}
.small-country .correct {
  fill: rgb(5, 130, 5);
  stroke: #eee;
  stroke-width: .25;
}
.small-country .correct:hover {
  fill: rgb(5, 130, 5);
  cursor: pointer;
}


.state path {
  fill: #00394f;
  stroke: #eee;
  stroke-width: .25;
}                        
.borders {  stroke: #eee;
  stroke-width: .25;}    /* color and width of borders between states */
.dccircle {display:none}                    /* set display to yes to show the circle for the District of Columbia, or none to hide it */
.separator1 {stroke:#B0B0B0; stroke-width:2} /* color and width of lines around Alaska and Hawaii */
.state path:hover {
  fill:#006284;
  transition: 0.4s;
  cursor: pointer;
}
